<div id="body"><div class="shade">
  <div id="stickynavtoolbar">
    <button mat-stroked-button>Welcome</button>
    <button mat-stroked-button>Features</button>
    <button mat-stroked-button>Tutorial</button>
    <button mat-raised-button color="primary">Get started</button>
  </div>
  <div id="welcome">
    <div class="picshade">
      <div class="field" style="height: auto;">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
  <div class="division">
    <mat-card class="block">
      <mat-divider class="verti" [inset]="true" [vertical]="true"></mat-divider>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </mat-card>
    <div class="block">
      <img src="https://static.vecteezy.com/system/resources/previews/000/831/099/non_2x/dark-blue-abstract-motion-geometric-background-vector.jpg" alt="img1">
    </div>
  </div>
  <div class="division">
    <mat-card class="block" style="background-color: rgba(0, 0, 0, 0); float: right;">
      <mat-divider class="verti" [inset]="true" [vertical]="true"></mat-divider>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </mat-card>
    <div class="block" style="float: right;">
      <img src="https://static.vecteezy.com/system/resources/previews/000/831/099/non_2x/dark-blue-abstract-motion-geometric-background-vector.jpg" alt="img1">
    </div>
  </div>
  <div class="division" style="background-color: #3f51b5;">
    <mat-card class="block" style="background-color: transparent; float: none;">
      <mat-divider class="verti" [inset]="true" [vertical]="true"></mat-divider>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <mat-divider class="verti" [inset]="true" [vertical]="true" style=" margin-left: 0; margin-right: 80px;"></mat-divider>
    </mat-card>
  </div>

</div></div>