<div mat-dialog-content>
    <mat-tab-group dynamicHeight mat-stretch-tabs mat-align-tabs="center" [(selectedIndex)]="selectedTab">
        <mat-tab label="Sign in">
            <h1>Sign in</h1>
            <div class="container">
                <mat-form-field class="field" appearance="standard" floatLabel="always">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Type your Username" [(ngModel)]="usernameSin">
                    <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>
                <mat-form-field class="field" appearance="standard" floatLabel="always">
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Type your Password" [(ngModel)]="passSin">
                </mat-form-field>
                <button mat-flat-button color="accent"  type="submit" class="field" (click)="login()">Sign in</button>
            </div>
        </mat-tab>
        <mat-tab label="Sign up">
            <h1>Sign up</h1>
            <div class="container">
                <mat-form-field class="nameField" appearance="standard">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter your First Name" [(ngModel)]="fNameSup">
                </mat-form-field>
                <mat-form-field class="nameField" appearance="standard">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter your Last Name" [(ngModel)]="lNameSup">
                </mat-form-field>
                <mat-form-field class="nameField" appearance="standard">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter your Username" [(ngModel)]="usernameSup">
                </mat-form-field>
                <mat-form-field class="field" appearance="standard">
                    <mat-label>Email Adress</mat-label>
                    <input matInput type="email" placeholder="Enter your Email Adress" [(ngModel)]="emailSup">
                    <mat-hint>example@email.com</mat-hint>
                </mat-form-field>
                <mat-form-field class="field" appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter your Password" [(ngModel)]="passSup">
                </mat-form-field>
                <mat-form-field class="field" appearance="standard">
                    <mat-label>Confirm your Password</mat-label>
                    <input matInput type="password" placeholder="Re-enter your Password" [(ngModel)]="passconfSup">
                </mat-form-field>
                <button mat-flat-button color="accent" type="submit" class="field" (click)="signup()">Sign up</button>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
