<button mat-raised-button color="primary" style="height: fit-content; width: fit-content; background-color: white;"><mat-card style="display: inline-block; *display: inline; box-shadow: 0; border: 0; height: 100%; padding: 0; background-color: transparent;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="padding: 0; margin: 0; max-width: 60px; overflow: hidden;">Profile</mat-card-title>
    </mat-card-header>
</mat-card></button>
