<button mat-button routerLink="/home"><div id="logo"></div></button>
<button class="sm-link" mat-button>About us</button>
<button class="sm-link" mat-button>Contact us</button>
<span class="example-spacer"></span>
<div class="modified-mc-content">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Timetables you Created
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Tmmmmmmmmmm<br>mmmmmmmmmm<br>mmmmmmmmmm</p>
    </mat-expansion-panel>
</div>
<button mat-flat-button color="primary" id="newtt" routerLink="/data">Create new Timetable</button>
<app-userbutton></app-userbutton>
