.example-spacer {
    flex: 1 1 auto;
  }

  .sm-link {
    font-size: small;
    position: relative;
    left: 10px;
    color: white;
  }

  #logo {
    background-image: url("src\assets\img\clipart358426.png");
    background-size: contain;
    height: 40px;
    width: 40px;
  }

  #newtt {
    margin-right: 70px;
    margin-left: 20px;
  }
  
  .modified-mc-content {
    height: 48px;
  }

  .modified-mc-content > mat-expansion-panel {
    z-index: 2;
}

.modified-mc-content > mat-expansion-panel > .mat-expansion-panel-content {
  max-height: 50vh;
  overflow: auto;
}

.liste-button {
  width: 100%;
  flex: 1 1 auto;
  text-align: left;
}

