<div class="body">
    <h2>Detail Elément</h2>
    <mat-form-field appearance="standard">
        <label><b>Nom :</b></label>
        <input matInput placeholder="Modifier le nom du l'elément" [(ngModel)]="data.element.nom"
        [ngModelOptions]="{standalone: true}" >
    </mat-form-field>
    <!--<mat-form-field appearance="fill" class="selection">
        <mat-label><b>Selectioner un professeur :</b></mat-label>
        <mat-select [(value)]="selectedProf" >
          <mat-option *ngFor= "let module of moduleList" value="{{module.id}}">{{module.nom}}</mat-option>
        </mat-select>
    </mat-form-field>-->

    <mat-form-field appearance="fill">
        <mat-label>Selectioner les professeurs de l'élément</mat-label>
        <mat-select [formControl]="objectCtrl" multiple>
          <mat-option *ngFor="let object of moduleList" [value]="object">{{object.nom}}</mat-option>
        </mat-select>
      </mat-form-field>

    <div>
         <p><b>List des classes de l'element :</b></p>
        <mat-chip-list>
            <mat-chip *ngFor= "let classe of classeList">{{classe.nom}}</mat-chip>
        </mat-chip-list>
    </div>

  <div>
    <p><b>List des professeur de l'element :</b></p>
    <mat-chip-list>
      <mat-chip *ngFor= "let prof of profElementList" [removable]="true" [selectable]="true" (removed)="deleteProfFromElement(prof)">{{prof.nom}} <mat-icon matChipRemove>cancel</mat-icon></mat-chip>

    </mat-chip-list>
  </div>
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="submit()">Modifier</button>
        <button mat-flat-button color="alert" (click)="close()">Annuler</button>
    </div>
</div>
