<div class="body">
    <h2>Detail Classe</h2>
    <mat-form-field appearance="standard">
        <label><b>Nom :</b></label>
        <input matInput placeholder="Modifier le nom dela classe" [(ngModel)]="data.classe.nom"
        [ngModelOptions]="{standalone: true}" >
    </mat-form-field><mat-form-field appearance="standard">
        <mat-label>Type :</mat-label>
        <input matInput placeholder="Entez le type de la classe" [(ngModel)]="data.classe.type"
        [ngModelOptions]="{standalone: true}" >
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Nombre maximum des etudiants :</mat-label>
        <input matInput placeholder="Entez le nombre maximum des etudiants" [(ngModel)]="data.classe.maxEtudiant"
        [ngModelOptions]="{standalone: true}" type="number" >
    </mat-form-field>
    <!--
    <mat-form-field appearance="fill" class="selection">
        <mat-label><b>Selectioner l'element :</b></mat-label>
        <mat-select [(value)]="data.classe.elementId" >
          <mat-option *ngFor= "let element of elementList" value="{{element.id}}">{{element.nom}}</mat-option>
        </mat-select>
    </mat-form-field>
    -->
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="submit()">Modifier</button>
        <button mat-flat-button color="alert" (click)="close()">Annuler</button>
    </div>
</div>