.body{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90vw;
    max-width: 500px;
    max-height: 81%;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttons{
    margin-top: 10px;
}

.mat-button-wrapper{  
  height: 35px;
  width: 35px;
  padding: 0;
}

.mat-fab .mat-button-wrapper {
	padding-top: 0px;
	display: inline-block;
	line-height: 24px;
}