<div class="body">
    <div style="display: flex; flex-direction: row; width: 100%; height: fit-content;">
        <h2>Detail Professeur</h2>
        <div style="flex: 1 0 auto;"></div>
        <button mat-mini-fab color="primary" style="height: fit-content; font-size: smaller; width: 40px;" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <mat-form-field appearance="standard">
        <label><b>Nom :</b></label>
        <input matInput placeholder="Modifier le nom complet du professeur" [(ngModel)]="data.prof.nom"
        [ngModelOptions]="{standalone: true}" >
    </mat-form-field>
    <div>
        <p><b>List des élements du professeur :</b></p>
      <mat-chip-list>
        <mat-chip
          *ngFor= "let prof of elementList"
          [removable]="true" [selectable]="true"
          (removed)="deleteElementFromProf(prof)"
        >
          {{prof.nom}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="submit()">Modifier</button>
        <button mat-flat-button color="alert" (click)="close()">Annuler</button>
    </div>
</div>
